
body{
    margin: 0;
    background-color: #074173;
}
section{
    min-height: 95vh;
}
.h{
    background-color: #074173;
    color: #C5FF95;
    display: flex;
}
.k{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 95vh;
}
.k2{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 45%;
    height: 95vh;

}

h1{
    margin: 0;
    font-size: 100px;
}
h2{
    margin: 0;
    font-size: 50px;
}
h3{
    margin: 0;
    font-size: 30px;
}
.textcenter{
    text-align: center;
}

img{
    width: 80%;
}
.w50{
    width: 30%;
}
.center{
    display: flex;
    justify-content: center;
}
#aboutme{
    padding: 50px;
    color:#000000;
    background-color: #32ffff;
    position: relative;
    z-index: 3;
}
#myskills{
    padding: 50px;
    color:#000000;
    background-color: #32ffff;
    position: relative;
    z-index: 3;
}
#my{
    padding: 50px;
    color:#000000;
    background-color: #32ffff;
    position: relative;
    z-index: 3;
}
.m{
    margin: 50px;
}
.logo{
    font-size: 30px;
    text-decoration: none;
    margin: 0 30px;
    font-weight: 500;    
}

.w1{
    width: 100%;
}
.w{
    width: 80%;
}
